PORT=3000
REACT_CLIENT_URL=http://localhost:5173
MONGO_URL=
GOOGLE_CALLBACK_URL=
GOOGLE_CLIENT_ID=your_client_id
GOOGLE_CLIENT_SECRET=your_client_secret
ACCESSTOKEN=
REFRESHTOKEN=

NODE_ENV=development

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

QDRANT_URL=
QDRANT_API_KEY=
QDRANT_COLLECTION=

JINA_API_KEY=